---
layout: none
---
<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
  <head>
    {%- include analytics.html -%}
    {%- include head.html -%}
    <script>
      {%- include scripts/utils/utils.js -%}
      {%- include scripts/lib/throttle.js -%}
      {%- include scripts/lib/lazyload.js -%}
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS_HTML"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
        }
      });

      MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax(), i;
        for(i=0; i < all.length; i += 1) {
          all[i].SourceElement().parentNode.className += ' has-jax';
        }
      });
    </script>      
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>
    {%- include scripts/variables.html -%}
    <link rel="icon" href="/assets/logo-16×16.png">
  </head>
  <body>
    <div class="root" data-is-touch="false">
      {{ content }}
    </div>
    <script>
      {%- include scripts/common.js -%}
    </script>
  </body>
</html>
