---
layout: articles
titles:
  # @start locale config
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  主页
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  主頁
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       홈
  ko-KR   : *KO
  fr      : &FR       Accueil
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  tr      : &TR       Ana Sayfa
  # @end locale config
show_title: false
articles:
  data_source: paginator.posts
  article_type: BlogPosting
  show_cover: false
  show_excerpt: true
  show_readmore: true
  show_info: true
---
<!-- 添加个人信息部分 -->
<!-- <div class="author-info">
  <h2>个人信息</h2>
  <ul>
    {% for author_key in site.data.authors %}
      <li>
        <div> {{ author_key}} </div>

        <p> test 666</p>
      </li>
    {% endfor %}
  </ul>
</div>
-->

<!-- 添加个人信息部分 -->
<div class="author-info">
  <h2>个人信息</h2>
  <ul>
    {% for author_key in site.data.authors %}
      {% assign author = site.data.authors[author_key] %}
      <li>
        <h3>{{ author.name }}</h3>
        {% if author.url %}
          <p><strong>URL:</strong> <a href="{{ author.url }}">{{ author.url }}</a></p>
        {% endif %}
        {% if author.bio %}
          <p><strong>Bio:</strong> {{ author.bio }}</p>
        {% endif %}
        {% if author.email %}
          <p><strong>Email:</strong> {{ author.email }}</p>
        {% endif %}
        
      </li>
    {% endfor %}
  </ul>
</div>


<!-- 添加调试信息 -->
<div class="debug-info">
  <pre>
    {% for author_key in site.data.authors %}
      {{ author_key }}: {{ site.data.authors[author_key] | jsonify }}
    {% endfor %}
  </pre>
</div>


<div class="layout--home">
  {%- include paginator.html -%}
</div>
<script>
  {%- include scripts/home.js -%}
</script>


{{ content }}
