---
layout: articles
titles:
  # @start locale config
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  主页
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  主頁
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       홈
  ko-KR   : *KO
  fr      : &FR       Accueil
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  tr      : &TR       Ana Sayfa
  # @end locale config
show_title: false
articles:
  data_source: paginator.posts
  article_type: BlogPosting
  show_cover: false
  show_excerpt: true
  show_readmore: true
  show_info: true
---
<!-- 添加个人信息部分 -->
<!-- <div class="author-info">
  <h2>个人信息</h2>
  <ul>
    {% for author_key in site.data.authors %}
      <li>
        <div> {{ author_key}} </div>

        <p> test 666</p>
      </li>
    {% endfor %}
  </ul>
</div>
-->

<!-- 添加个人信息部分 -->
<div class="author-info">
  <h2>个人信息</h2>
  <ul>
    {% for author_key in site.data.authors %}
      {% assign author = site.data.authors[author_key] %}
      <li>
        <h3>{{ author.name }}</h3>
        <p><strong>URL:</strong> <a href="{{ author.url }}">{{ author.url }}</a></p>
        <p><strong>Bio:</strong> {{ author.bio }}</p>
        <p><strong>Email:</strong> {{ author.email }}</p>
        
        <!-- 显示社交媒体信息，如果存在的话 -->
        {% if author.facebook %}
          <p><strong>Facebook:</strong> <a href="https://www.facebook.com/{{ author.facebook }}">Facebook Profile</a></p>
        {% endif %}
        {% if author.twitter %}
          <p><strong>Twitter:</strong> <a href="https://twitter.com/{{ author.twitter }}">Twitter Profile</a></p>
        {% endif %}
        {% if author.weibo %}
          <p><strong>Weibo:</strong> <a href="https://www.weibo.com/{{ author.weibo }}">Weibo Profile</a></p>
        {% endif %}
        {% if author.googleplus %}
          <p><strong>Google Plus:</strong> <a href="https://plus.google.com/u/0/{{ author.googleplus }}">Google Plus Profile</a></p>
        {% endif %}
        {% if author.telegram %}
          <p><strong>Telegram:</strong> <a href="https://t.me/{{ author.telegram }}">Telegram Profile</a></p>
        {% endif %}
        {% if author.medium %}
          <p><strong>Medium:</strong> <a href="https://medium.com/{{ author.medium }}">Medium Profile</a></p>
        {% endif %}
        {% if author.zhihu %}
          <p><strong>Zhihu:</strong> <a href="https://www.zhihu.com/people/{{ author.zhihu }}">Zhihu Profile</a></p>
        {% endif %}
        {% if author.douban %}
          <p><strong>Douban:</strong> <a href="https://www.douban.com/people/{{ author.douban }}">Douban Profile</a></p>
        {% endif %}
        {% if author.linkedin %}
          <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/{{ author.linkedin }}">LinkedIn Profile</a></p>
        {% endif %}
        {% if author.github %}
          <p><strong>GitHub:</strong> <a href="https://github.com/{{ author.github }}">GitHub Profile</a></p>
        {% endif %}
        {% if author.npm %}
          <p><strong>NPM:</strong> <a href="https://www.npmjs.com/~{{ author.npm }}">NPM Profile</a></p>
        {% endif %}
      </li>
      <p> test gpt</p>
    {% endfor %}
  </ul>
</div>

<!-- 添加调试信息 -->
<div class="debug-info">
  <pre>
    {% for author_key in site.data.authors %}
      {{ author_key }}: {{ site.data.authors[author_key] | jsonify }}
    {% endfor %}
  </pre>
</div>


<div class="layout--home">
  {%- include paginator.html -%}
</div>
<script>
  {%- include scripts/home.js -%}
</script>


{{ content }}
